ion-accordion-group {
  background-color: aqua;
}
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);
  margin: 16px auto;
}
ion-badge.wordlist-word,
ion-badge.sentence-word {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

ion-text.feelings-list-words,
ion-text.needs-list-words {
  font-size: 1.25em;
}

ion-text.checkin-feelings-list-words,
ion-text.checkin-needs-list-words {
  font-size: 1.25em;
  cursor: pointer;
}

pre.definition-text {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

ion-select.checkin-needs-list-select {
  display: inline;
}

.hear-it-button-icon {
  padding-right: .5em;
}